<app-menu></app-menu>

<nav>
  <a routerLink="/empleados">Empleados</a>
</nav>

<router-outlet></router-outlet>

<div class="container">
  <div class="col">
    <h3>{{ titulo }}</h3>
  </div>
  <hr />
<!--  <nav>
    <a class="button" routerLink="" routerLinkActive="routerLinkActive">Agregar Empleado</a>
  
-->
  <!-- <app-empleados (personaCreada)="personaAgregada($event)"></app-empleados> -->
<!--  
</nav>
  <hr />
-->
<!--  
  <nav>
    <a class="button" routerLink="/persona" routerLinkActive="activebutton">Lista Empleados
-->
      <!--
      <app-persona *ngFor="let personaElemento of persona; let i = index" [persona]="personaElemento" [indice]="i">
      </app-persona>
      -->
<!--
    </a>
  
  </nav>
</div>
-->